:root {
    --primary-color: #3f3557;
    --secondary-color: #D44C66; 
    --background-light: #f3b578; 
    --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
    --btn-padding: 10px 20px;
    --font-family: 'Arial, sans-serif'; 
    --border-radius: 5px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

/*menú de navegación */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 50px;
    border-radius: 50%;
    height: auto;
    margin: 5px;
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--primary-color);
    
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--secondary-color);
}

.search-box {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    outline: none;
    width: 180px;
}

.search-box button {
    padding: 8px 12px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
}

.search-box button:hover {
    background-color: var(--secondary-color);
}

.btn-login {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: var(--secondary-color);
}

/* Sección de Bienvenida */
.welcome-section {
    background-color: var(--background-light);
    padding: 50px 20px;
    text-align: center;
    color: var(--primary-color);
}

.welcome-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/*seccion mision-vision*/
.mision-vision{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 2%;
}

.mv-card {
    width: 100%;
    text-align: center;
    margin: 1%;
    padding: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.mv.card h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--primary-color);
}
.mv-card p {
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* seccion principales */
.main-content {
    padding: 40px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.card h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--primary-color);
}
.card p {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.btn-card {
    background-color: var(--primary-color);
    color: white;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-card:hover {
    background-color: var(--secondary-color);
}

/*destacados*/
.featured-section {
    padding: 40px 20px;
    background-color: #f3f3f3; 
    text-align: center;
}

.featured-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.featured-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.featured-card {
    background-color: white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    margin-top: 15px;
}

.featured-card h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.featured-card p {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.featured-card .btn-card {
    background-color: var(--primary-color);
    color: white;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.featured-card img{
    width: 100px;
}

.featured-card .btn-card:hover {
    background-color: var(--secondary-color);
}




/* Responsivo */
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .search-box {
        margin-top: 10px;
        width: 100%;
    }

    .search-box input[type="text"] {
        width: 100%;
    }

    .btn-login {
        margin-top: 10px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
